<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>INFOFY</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Full_logo_Green_CMYK.svg') }}" alt="logo Spotify">
            <h1>Inicia sesión con Spotify</h1>
        </div>
        <div class="div-button">
            <a class="button-sesion" href="/authorize">Iniciar Sesion</a>
        </div>
    </div>
</body>
</html>