<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
</head>

<div class="loader"></div>

<div class="singles_list">
    {% for single in singles['items'] %}
    <div class="album">
        <img src="{{single['images'][0]['url']}}" alt="Album Image">
        <p>{{single['name']}}</p>
        <div>
            {% for artist in single['artists'] %}
            <span>{{ artist['name'] }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        <p>{{ single['release_date'] | datetimeformat }}</p>
        <a href="{{single['external_urls']['spotify']}}" target="_blank">
            <img src="{{ url_for('static', filename='img/Primary_Logo_Green_CMYK.svg') }}" alt="">
            LISTEN ON SPOTIFY</a>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/loader.js') }}" defer></script>
